/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

.blog__slider .slick-list {
  display: flex;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

.partners__slider .slick-track {
  align-items: center;
}

/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.partners__slider .slick-arrow,
.watch__slider .slick-arrow,
.content__slider-big .slick-arrow,
.similar__slider .slick-arrow {
  font-size: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 28px;
  height: 28px;
  border: 1px solid rgba(238, 181, 26, 0.5);
  background: none;
  &::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 7px;
    top: 11px;
    left: 7px;
    background: url("../img/icon-form-arrow.svg") no-repeat;
    transform: rotate(90deg);
  }
  &::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 1px;
    background-color: #eeb51a;
  }
}

.blog__trigger .slick-arrow {
  position: relative;
  font-size: 0;
  width: 30px;
  height: 30px;
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 13px;
    height: 13px;
    width: 7px;
    background: url("../img/work-icon-arrow.svg") no-repeat;
  }
}
/* Стрелка влево */
.partners__slider .slick-arrow.slick-prev,
.watch__slider .slick-arrow.slick-prev,
.similar__slider .slick-arrow.slick-prev {
  left: -40px;
  &::after {
    right: 28px;
  }
}

.content__slider-big .slick-arrow.slick-prev {
  left: -50px;
  &::after {
    content: none;
  }
}

.blog__trigger .slick-arrow.slick-prev {
  background-color: #8b8b8b;
  &::before {
    transform: rotate(180deg);
  }
}
/* Стрелка вправо */
.partners__slider .slick-arrow.slick-next,
.watch__slider .slick-arrow.slick-next,
.similar__slider .slick-arrow.slick-next {
  right: -40px;
  &::before {
    transform: rotate(-90deg);
  }
  &::after {
    left: 28px;
  }
}

.content__slider-big .slick-arrow.slick-next {
  right: -50px;
  &::before {
    transform: rotate(-90deg);
  }
  &::after {
    content: none;
  }
}

.blog__trigger .slick-arrow.slick-next {
  background-color: #4d4d4d;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */

.reviews__slider .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.reviews__slider .slick-dots li {
  position: relative;
  width: 40px;
  height: 3px;
  border-bottom: 1px solid #eeb51a;
}
/* Активная точка */
.slick-dots li.slick-active {
  background-color: #eeb51a;
}
/* Элемент точки */
.reviews__slider .slick-dots li button {
  font-size: 0;
}
