/*БЛОК-1*/
.preview {
  &.scrolled {
    margin-top: 84px;
  }
  position: relative;
  padding-bottom: 200px;
  background: url("../img/preview-cloud.png") no-repeat 50% 50%, url("../img/preview-tree-left.png") no-repeat 0% 100%,
    url("../img/preview-tree-right.png") no-repeat 100% 90%, linear-gradient(180deg, #ededed 82.65%, rgba(237, 237, 237, 0) 99.34%);
  & .container {
    background: url("../img/preview-rectangle.png") no-repeat 55% 0%;
  }
  &__row-1 {
    display: flex;
    justify-content: space-between;
  }
  &__row-2 {
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
  }

  // .preview__column-1

  &__column-2 {
    flex: 0 1 260px;
  }

  // .preview__title

  &__title {
    font-family: "Play";
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 45px;
    & span {
      font-weight: 700;
    }
  }

  // .preview__subtitle

  &__subtitle {
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
    margin-bottom: 90px;
    & span {
      background-color: #ffca1a;
    }
  }

  // .preview__text

  &__text {
    position: relative;
    max-width: 200px;
    & span {
      position: absolute;
      right: -40px;
      width: 28px;
      height: 28px;
      border: 1px solid rgba(238, 181, 26, 0.5);
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 28px;
        width: 100vw;
        height: 1px;
        opacity: 0.5;
        background-color: #eeb51a;
      }
    }
    &-1 {
      & span {
        left: -40px;
        &::before {
          left: initial;
          right: 28px;
        }
      }
    }
    &-2 {
      margin-bottom: 105px;
    }
    &-3 {
      margin-left: 90px;
    }
  }
  &__build-bg {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -15px);
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  &__group {
    display: flex;
    justify-content: flex-end;
  }
  // .nav__item

  &__item {
    padding: 26px 34px;
    color: #000000;
    &_padding {
      z-index: 0;
      padding: 26px 34px !important;
    }
    &:hover {
      z-index: 100;
      outline: 1px solid #000000;
    }
    // .nav__item_yellow
  }
}
/*//БЛОК-1*/

/*БЛОК-2*/
.company {
  // .company__title
  position: relative;
  &__title {
    margin-bottom: 84px;
  }

  // .company__row

  &__row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: -30px -15px;
    z-index: 10;
  }

  // .company__wrap

  &__wrap {
    flex: 1 1 33.333%;
    display: flex;
    min-width: 300px;
    padding: 30px 15px;
  }

  // .company__item

  &__item {
    background-color: #dbdbdb;
    flex: 1 1;
    display: flex;
    flex-direction: column;
  }

  // .company__image

  &__image {
    position: relative;
    height: 58px;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.2);
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .company__text

  &__text {
    max-width: 200px;
    font-family: "Play";
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  // .company__price

  &__price {
  }

  // .company__group-1

  &__group-1 {
    flex-grow: 1;
    padding: 30px;
  }

  // .company__group-2

  &__group-2 {
    display: flex;
    justify-content: space-between;
  }

  // .company__button

  &__button {
  }

  // .company__arrow

  &__arrow {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    background: #77767e;
  }
  &__button-all {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }

  &__image-bg {
    position: absolute;
    bottom: -30%;
    right: -8%;
    z-index: 0;
  }
}
/*//БЛОК-2*/

/*БЛОК-3*/

.info {
  // .info__title

  &__title {
    margin-bottom: 190px;
  }

  // .info__row

  &__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
  }

  // .info__column
  &__column {
    &:last-child {
      flex: 0 1 555px;
      margin-right: 100px;
    }
  }

  // .info__image

  &__image {
    position: absolute;
    &-1 {
      top: -100px;
      left: 70px;
      z-index: 10;
    }
    &-2 {
      left: 70px;
      z-index: 9;
      top: 0px;
      transition: all 1s ease;
      &.animate {
        top: 100px;
      }
    }
    &-3 {
      left: 70px;
      z-index: 8;
      top: 50px;
      transition: all 1s ease;
      &.animate {
        top: 150px;
      }
    }
    &-4 {
      left: 70px;
      z-index: 7;
      top: 100px;
      transition: all 1s ease;
      &.animate {
        top: 200px;
      }
    }
    &-5 {
      left: 70px;
      z-index: 6;
      top: 200px;
      transition: all 1s ease;
      &.animate {
        top: 300px;
      }
    }
    &-6 {
      top: -150px;
      left: 250px;
      transition: all 1s ease;
      &.animate {
        left: 300px;
      }
    }
    &-7 {
      top: 100px;
      left: -170px;
      z-index: 11;
    }
  }

  // .info__text

  &__text {
    margin-bottom: 35px;
  }
}

/*//БЛОК-3*/

/*БЛОК-4*/

.contact {
  position: relative;
  padding-bottom: 200px;
  // .contact__row
  &__row {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
  }
  // .contact__column
  &__column {
    &:first-child {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &:last-child {
      flex: 0 1 555px;
    }
  }
  // .contact__group
  &__group {
    display: flex;
    align-items: center;
    &_top {
      margin-bottom: 40px;
    }
    &_middle {
      margin-bottom: 40px;
    }
    &_bottom {
    }
  }
  // .contact__text-1
  &__text-1 {
    position: relative;
    flex: 0 1 60%;
    margin-right: 15px;
    font-family: "Play";
    font-size: 96px;
    line-height: 111px;
    text-align: end;
    color: #575757;
    & strong {
      position: relative;
      font-weight: 700;
    }
    & span {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: -50px;
      width: 28px;
      height: 28px;
      font-weight: 700;
      border: 1px solid rgba(238, 181, 26, 0.5);
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 28px;
        width: 100vw;
        height: 1px;
        opacity: 0.5;
        background-color: #eeb51a;
      }
    }
  }
  // .contact__text-2
  &__text-2 {
    max-width: 150px;
    text-transform: uppercase;
  }
  // .contact__image-bg-1
  &__image-bg-1 {
    position: absolute;
    top: -25%;
    right: 0;
  }
  // .contact__image-bg-2
  &__image-bg-2 {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.form {
  padding: 55px 68px;
  flex: 0 1 555px;
  background: url("../img/info-image-house-border-2.png") no-repeat 160% 116%, #eeeeee;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  // .form__title

  & input[type="text"] {
    padding: 15px;
    width: 100%;
  }

  & label {
    display: inline-block;
    margin-bottom: 22px;
    & a {
      color: #000000;
      border-bottom: 1px solid #000000;
    }
  }

  &__title {
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 40px;
  }

  // .form__group-1

  &__group-1 {
    display: flex;
    margin-bottom: 24px;
  }

  // .form__name

  &__name {
    margin-right: 20px;
    flex-grow: 1;
  }

  // .form__phone

  &__phone {
    flex-grow: 1;
  }

  // .form__select

  &__select {
    position: relative;
    margin-bottom: 30px;
    & select {
      display: none;
    }
    &-input {
      cursor: pointer;
      background-color: #ffffff;
    }
    &-text {
      position: relative;
      padding: 15px;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translate(0, -50%);
        width: 13px;
        height: 7px;
        background: url("../img/icon-form-arrow.svg") no-repeat;
        transition: all 0.3s ease;
      }
      &.active {
        &::before {
          transform: rotate(180deg);
        }
      }
    }
    &-menu {
      position: absolute;
      width: 100%;
    }
    &-option {
      cursor: pointer;
      padding: 15px;
      background-color: #ffffff;
      &:hover {
        outline: 1px solid #000000;
      }
    }
  }

  // .form__comment

  &__comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    & textarea {
      padding: 15px;
      min-height: 100px;
      resize: none;
    }
  }

  // .form__checkbox

  &__checkbox {
    display: block;
    position: relative;
    padding-left: 38px;
    & input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    & input:checked ~ .form__checkmark::after {
      transform: rotate(45deg) scale(1);
    }
  }
  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    background: #d8d8d8;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.05);
    &::after {
      content: "";

      top: 5px;
      left: 7px;
      width: 11px;
      height: 9px;
      position: absolute;
      border: solid #000000;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg) scale(0);
      transition: all 0.3s ease;
    }
  }

  // .form__submit

  &__submit {
    text-align: center;
    & button {
      width: 165px;
      padding: 26px 0;
      background: linear-gradient(101.04deg, #ffd752 1.57%, #f9a21c 100%);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
      &:hover {
        z-index: 100;
        outline: 1px solid #000000;
      }
    }
  }
}

/*//БЛОК-4*/

/*БЛОК-5*/

.partners {
  position: relative;
  &__title {
    text-align: center;
    margin-bottom: 100px;
    opacity: 1 !important;
    transform: translate(0, 0) !important;
  }

  &__slider {
    position: relative;
    max-width: 780px;
    margin: 0 auto 60px;
  }

  &__slide {
    text-align: center;
    & img {
      filter: grayscale(1);
      max-height: 120px;
      object-fit: contain;
      &:hover {
        cursor: pointer;
        filter: grayscale(0);
      }
    }
  }

  &__button-all {
    text-align: center;
  }
  &__iamge-bg {
    &-1 {
      position: absolute;
      top: -48%;
      left: 0;
      width: 27%;
    }
    &-2 {
      position: absolute;
      top: -10%;
      left: 0;
      width: 9%;
    }
    &-3 {
      position: absolute;
      top: -61%;
      left: 0;
      width: 22.5%;
    }
  }
}

/*//БЛОК-5*/

/*БЛОК-6*/

.advantages {
  padding: 110px 0 120px 0;
  background: url("../img/advantages-cloud-bg.png") no-repeat 0% 8%, url("../img/advantages-cloud-bg-2.png") no-repeat 100% 100%,
    url("../img/advantages-cloud-bg-3.png") no-repeat 0% 150%, linear-gradient(180deg, rgba(227, 227, 227, 0) 0%, #e3e3e3 63.92%);
  &__title {
    margin-bottom: 80px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;
  }

  &__wrap {
    flex: 1 1 25%;
    min-width: 260px;
    padding: 0 15px;
    margin-bottom: 30px;
  }

  &__item {
  }

  &__iamge {
    height: 161px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95px;
    padding: 0 30px;
    font-family: "Play";
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    background: #ffca1a;
  }

  &__group {
    min-height: 250px;
    padding: 30px 30px 0 30px;
    background-color: #ffffff;
  }

  &__discription {
    margin-bottom: 20px;
  }
}
/*//БЛОК-6*/

/*БЛОК-7*/

.work {
  padding: 145px 0 0 0;
  &__row-1 {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
  }

  &__row-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;
  }

  &__title {
    margin-right: 70px;
  }

  &__subtile {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    background: #ffca1a;
  }

  &__wrap {
    flex: 1 1 25%;
    min-width: 290px;
    padding: 0 15px;
    margin-bottom: 30px;
  }

  &__item {
  }

  &__name {
    position: relative;
    padding-left: 67px;
    margin-bottom: 50px;
    font-family: "Play";
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      background-color: #575757;
    }
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      left: 12px;
      width: 7px;
      height: 13px;
      background: url("../img/work-icon-arrow.svg") no-repeat;
    }
  }

  &__image {
    text-align: center;
    max-height: 240px;
    & img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__group {
  }

  &__discription {
    margin-bottom: 20px;
  }
}

/*//БЛОК-7*/

/*БЛОК-8*/

.reviews {
  position: relative;
  padding: 245px 0 200px 0;
  & .container {
    position: relative;
  }
  &__row {
    display: flex;
    justify-content: flex-end;
  }

  &__column {
    &:first-child {
      margin-right: 150px;
      text-align: center;
    }
    &:last-child {
      flex-basis: 555px;
    }
  }

  &__title {
    opacity: 1 !important;
    transform: translate(0, 0) !important;
    & span::before {
      width: 20vw;
    }
  }

  &__subtitle {
    position: relative;
    z-index: 15;
    padding-top: 8px;
    margin-bottom: 50px;
    font-family: "Play";
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }

  &__logo {
    position: relative;
    z-index: 15;
    margin-bottom: 37px;
  }

  &__text-1 {
    position: relative;
    z-index: 15;
    margin: 0 auto 28px;
    max-width: 350px;
  }

  &__text-2 {
    position: relative;
    z-index: 15;
    margin: 0 auto 50px;
    max-width: 350px;
  }

  &__buttons {
    position: relative;
    z-index: 15;
    display: flex;
    justify-content: center;
  }

  &__button-1 {
    width: 165px;
    margin-right: 30px;
    padding: 26px 15px;
  }

  &__button-2 {
    width: 165px;
    padding: 26px 15px;
  }

  &__iamge-bg {
    position: absolute;
    top: -36%;
    left: -40%;
    z-index: 10;
  }

  &__iamge-bg-2 {
    position: absolute;
    z-index: 9;
    top: 0%;
    left: 0%;
  }

  &__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__title {
  }

  &__all-reviews {
    & a {
      position: relative;
      padding-right: 50px;
      color: #000000;
      &::before {
        content: "";
        position: absolute;
        top: -5px;
        right: 0;
        width: 30px;
        height: 30px;
        background-color: #575757;
      }
      &::after {
        content: "";
        position: absolute;
        top: 4px;
        right: 10px;
        width: 7px;
        height: 13px;
        background: url("../img/work-icon-arrow.svg") no-repeat;
      }
      &:hover {
        &::before {
          outline: 1px solid #ffd752;
        }
      }
    }
  }

  &__slider {
    max-width: 555px;
    margin-bottom: 50px;
  }

  &__slide {
    display: flex;
    max-width: 295px;
    padding: 0 15px 50px 15px;
  }

  &__item {
    position: relative;
    min-height: 295px;
    padding: 26px 26px 40px 30px;
    background-color: #eeeeee;
  }

  &__text {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 26px;
      height: 21px;
      top: 0;
      left: -43px;
      background: url("../img/rewiews-dots.png") no-repeat;
    }
  }

  &__person {
    position: absolute;
    bottom: -45px;
    left: 0;
    display: flex;
    align-items: flex-end;
    & img {
      height: 68px;
      width: 68px;
      object-fit: cover;
      margin-right: 23px;
    }
  }

  &__name {
  }
}

/*//БЛОК-8*/

/*БЛОК-9*/

.blog {
  padding-bottom: 220px;
  background: url("../img/blog-cloud.png") no-repeat 0% 40%, url("../img/blog-bg.png") no-repeat 100% 70%,
    linear-gradient(180deg, #eeeeee 0%, rgba(238, 238, 238, 0) 100%);
  &__row-1 {
    display: flex;
    margin-bottom: 200px;
  }

  &__item {
    position: relative;
    flex: 1 0 285px;
    padding: 50px 20px 50px 40px;
    background-color: #ffca1a;
  }

  &__trigger {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__name {
    margin-bottom: 15px;
    font-family: "Play";
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
  }

  &__text-1 {
    margin-bottom: 65px;
  }

  &__all-arcticle {
    & a {
      position: relative;
      padding-left: 53px;
      color: #000000;
      text-decoration: underline;
      &::before {
        content: "";
        position: absolute;
        top: -7px;
        left: 0;
        width: 30px;
        height: 30px;
        border: 1px solid #000000;
      }
      &::after {
        content: "";
        position: absolute;
        left: 9px;
        top: 5px;
        height: 7px;
        width: 13px;
        background: url("../img/icon-form-arrow.svg") no-repeat;
        transform: rotate(-90deg);
      }
    }
  }

  &__slider {
    display: flex;
    min-width: 0;
  }

  &__slide {
    flex: 1 0 285px;
    position: relative;
    display: flex;
    flex-direction: column;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%);
      z-index: 2;
    }
  }

  &__group {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__iamge {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  &__date {
    align-self: flex-end;
    padding: 7px 11px;
    color: #000000;
    background: #ffca1a;
    z-index: 2;
  }

  &__text-2 {
    position: relative;
    padding: 0 40px;
    margin-bottom: 20px;
    color: #ffffff;
    z-index: 2;
  }

  &__title {
    max-width: 520px;
    margin-bottom: 80px;
    & span {
      top: 11%;
      transform: none;
    }
  }
  &__column {
    max-width: 555px;
  }
  &__discription {
    margin-bottom: 60px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/*//БЛОК-9*/
