//========================================================ОБНУЛЕНИЕ========================================================

@import "_nullstyle";

//===================================================ПЕРЕМЕННЫЕ========================================================

@import "_variables";

//===================================================ШРИФТЫ========================================================

@import "_fonts";

//===================================================МИКСИНЫ========================================================

@import "_mixin";

//========================================================ОБШИЕ СТИЛИ========================================================

@import "_overall-style.scss";

//========================================================ШАПКА САЙТА========================================================

@import "_header";

//========================================================ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ 1========================================================

@import "_style-page-index";

//========================================================ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ 2========================================================

@import "_style-page-product";

//========================================================ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ 3========================================================

@import "_style-page-product-item";

//========================================================ПОДВАЛ САЙТА========================================================

@import "_footer";

//========================================================СЛАЙДЕР========================================================

@import "_slider";

//========================================================АНИМАЦИИ========================================================

@import "_animate";

//========================================================МЕДИА-ЗАПРОСЫ========================================================

@import "_media";
