<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="container">
          <div class="header__row">
            <div class="header__column-1">
              <div class="header__logo">
                <a href="/"><img src="./img/logo.png" alt="logo" /></a>
              </div>
            </div>
            <div class="header__column-2">
              <div class="header__select select">
                <select name="cities">
                  <option value="Москва">Москва</option>
                  <option value="Брянск">Брянск</option>
                  <option value="Санкт-Петербург">Санкт-Петербург</option>
                  <option value="Рязань">Рязань</option>
                  <option value="Новосибирск">Новосибирск</option>
                  <option value="Москва">Москва</option>
                  <option value="Брянск">Брянск</option>
                  <option value="Санкт-Петербург">Санкт-Петербург</option>
                  <option value="Рязань">Рязань</option>
                  <option value="Новосибирск">Новосибирск</option>
                  <option value="Москва">Москва</option>
                  <option value="Брянск">Брянск</option>
                  <option value="Санкт-Петербург">Санкт-Петербург</option>
                  <option value="Рязань">Рязань</option>
                  <option value="Новосибирск">Новосибирск</option>
                  <option value="Москва">Москва</option>
                  <option value="Брянск">Брянск</option>
                  <option value="Санкт-Петербург">Санкт-Петербург</option>
                  <option value="Рязань">Рязань</option>
                  <option value="Новосибирск">Новосибирск</option>
                </select>
                <div class="header__select-input select__input">
                  <div class="header__select-text select__text">Ваш город: <span>Москва</span></div>
                </div>
                <ul class="header__select-menu select__menu">
                  <li class="header__select-item select__item">
                    <a class="header__select-option select__option select__option_selected" href="#"><span>Москва</span></a>
                    <a class="header__select-option select__option" href="#"><span>Брянск</span></a>
                    <a class="header__select-option select__option" href="#"><span>Санкт-Петербург</span></a>
                    <a class="header__select-option select__option" href="#"><span>Рязань</span></a>
                    <a class="header__select-option select__option" href="#"><span>Новосибирск</span></a>
                  </li>
                  <li class="header__select-item select__item">
                    <a class="header__select-option select__option" href="#"><span>Пенза</span></a>
                    <a class="header__select-option select__option" href="#"><span>Астрахань</span></a>
                    <a class="header__select-option select__option" href="#"><span>Томск</span></a>
                    <a class="header__select-option select__option" href="#"><span>Иваново</span></a>
                    <a class="header__select-option select__option" href="#"><span>Курск</span></a>
                  </li>
                  <li class="header__select-item select__item">
                    <a class="header__select-option select__option" href="#"><span>Белгород</span></a>
                    <a class="header__select-option select__option" href="#"><span>Нижний Тагил</span></a>
                    <a class="header__select-option select__option" href="#"><span>Ставрополь</span></a>
                    <a class="header__select-option select__option" href="#"><span>Смоленск</span></a>
                    <a class="header__select-option select__option" href="#"><span>Сочи</span></a>
                  </li>
                  <li class="header__select-item select__item">
                    <a class="header__select-option select__option" href="#"><span>Волжский</span></a>
                    <a class="header__select-option select__option" href="#"><span>Череповец</span></a>
                    <a class="header__select-option select__option" href="#"><span>Владикавказ</span></a>
                    <a class="header__select-option select__option" href="#"><span>Мурманск</span></a>
                    <a class="header__select-option select__option" href="#"><span>Сургут</span></a>
                  </li>
                </ul>
              </div>
              <div class="header__phone"><a href="tel:+70000000000">+7 000 000-00-00</a></div>
              <div class="header__email"><a href="mailto:info@rm-modul.ru">info@rm-modul.ru</a></div>
              <div class="header__social">
                <a href=""><img src="./img/icon-vk.png" alt="vk" /></a>
                <a href=""><img src="./img/icon-insta.png" alt="instagram" /></a>
                <a href=""><img src="./img/icon-fb.png" alt="facebook" /></a>
                <a href=""><img src="./img/icon-twitter.png" alt="twitter" /></a>
              </div>
            </div>
            <div class="header__burger"><span></span></div>
          </div>
        </div>
      </header>

